@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model InsertTextProperties

@if (Model?.Value?.Markup != null)
{
	<div class="govuk-inset-text govuk-rte">
		@Html.Raw(Model.Value.Markup)
	</div>
}
