@{
    var active = ViewBag.Active as string;
}

<nav id="app-navigation"
        class="app-navigation js-app-navigation govuk-clearfix"
        role="navigation"
        aria-labelledby="app-navigation-heading">
    <ul class="app-navigation__list app-width-container">
        <li class="app-navigation__list-item hra-tab">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link @(active == "summary" ? "active" : "")"
                asp-route="admin:home">
                Summary
            </a>
        </li>
        <li class="app-navigation__list-item hra-tab">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link @(active == "users" ? "active" : "")"
                asp-route="admin:users">
                Users
            </a>
        </li>

        <li class="app-navigation__list-item hra-tab">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link @(active == "roles" ? "active" : "")"
                asp-route="admin:roles">
                Roles
            </a>
        </li>
    </ul>
</nav>