@using Rsp.IrasPortal.Application.DTOs.Responses;

@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@
@section BackNavigation {
    <partial name="_BackNavigation" model="@("approvls:welcome", "Back", new Dictionary<string, string>())" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Search</h1>


    </div>
</div>