@model Rsp.IrasPortal.Web.Models.SearchOrganisationViewModel

@{
    ViewData["Title"] = "Search participating organisation";
    var errorSummaryTitle = "There is a problem";

    (string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
    navModel = ("pmc:areaofchange", "Back", new());
}

<govuk-header />

<div class="govuk-width-container">
    @section BackNavigation {
        <partial name="_BackNavigation" model="navModel.Value" />
    }
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form asp-action="SearchOrganisation" method="post" novalidate>
                    <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />
                    <partial name="_ProjectModificationSummary" model="Model" />

                    <div class="govuk-form-group @(ViewData.ModelState.ContainsKey(nameof(Model.Search.SearchNameTerm)) && ViewData.ModelState[nameof(Model.Search.SearchNameTerm)]?.Errors?.Any() == true ? "govuk-form-group--error" : "")">
                        <label class="govuk-label" for="SearchTerm">Organisation name</label>

                        @if (ViewData.ModelState.TryGetValue(nameof(Model.Search.SearchNameTerm), out var searchError) && searchError.Errors.Any())
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @searchError.Errors.First().ErrorMessage
                            </p>
                        }

                        <div class="govuk-input__wrapper">
                            <input asp-for="Search.SearchNameTerm" class="govuk-input" type="text" id="SearchTerm" />
                            <button class="govuk-button govuk-button--secondary" style="margin-left:10px" type="submit" name="action" value="search">
                                Search
                            </button>
                        </div>
                    </div>

                    <details class="govuk-details govuk-!-margin-top-3">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Advanced filter</span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>0 results</p>
                        </div>
                    </details>

                    <div class="govuk-button-group govuk-!-margin-top-4">
                        <button class="govuk-button" data-module="govuk-button" name="action" value="continue">Save and continue</button>
                        @{
                            ViewBag.Style = "govuk-button govuk-button--secondary";
                        }
                        <partial name="_SubmitButton" model="@("app:projectoverview", "Save for later", new Dictionary<string, string> { })" />
                    </div>

                    <p class="govuk-!-margin-top-4"><a href="#" class="govuk-link">Remove this change</a></p>
                </form>
            </div>
        </div>
    </main>
</div>