@model Rsp.IrasPortal.Web.Models.QuestionSetFileModel

@{
    ViewData["Title"] = "Question Set";
}

<h2 class="govuk-heading-l">Upload a Question Set</h2>

<partial name="_ValidationSummary" model="@(ViewData.ModelState, "Please address the following issues:")" />

<form asp-action="QuestionSetUpload" method="post" enctype="multipart/form-data">
    <input type="file" class="govuk-file-upload" asp-for="@Model.Upload" name="Upload" />
    <button type="submit" class="govuk-button">Upload</button>
</form>

@if (ViewBag.Success != null && ViewBag.Success)
{
    <govuk-panel heading-level="2">
        <govuk-panel-title>Upload successful</govuk-panel-title>
        <govuk-panel-body>
            Uploaded file<br><strong>@Model.Upload?.FileName</strong>
        </govuk-panel-body>
    </govuk-panel>
}