@using Rsp.IrasPortal.Application.Constants
@model Rsp.IrasPortal.Web.Features.Modifications.Models.ModificationDetailsViewModel
@{
	var active = "tab-documents";
}

<!-- Hidden controls -->
<input type="radio" id="tab-sponsor-details" name="tab-toggle" class="govuk-tab-toggle" >
<input type="radio" id="tab-modifications-changes" name="tab-toggle" class="govuk-tab-toggle" checked>
<input type="radio" id="tab-documents" name="tab-toggle" class="govuk-tab-toggle">
<input type="radio" id="tab-history" name="tab-toggle" class="govuk-tab-toggle">

<!-- Keep the same GOV.UK Service Navigation look -->
<div class="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <nav class="govuk-service-navigation__wrapper">
                <ul class="govuk-service-navigation__list">

                    <li class="govuk-service-navigation__item small-margin govuk-service-navigation__item--sponsor-details">
                        <label for="tab-sponsor-details" class="govuk-service-navigation__link govuk-service-navigation__link-label">
                            @ModificationOverview.SponsorDetails
                        </label>
                    </li>

                    <li class="govuk-service-navigation__item small-margin govuk-service-navigation__item--modifications-changes">
                        <label for="tab-modifications-changes" class="govuk-service-navigation__link govuk-service-navigation__link-label">
                            @ModificationOverview.ModificationDetails
                        </label>
                    </li>

					<li class="govuk-service-navigation__item small-margin govuk-service-navigation__item--documents">
                        <label for="tab-documents" class="govuk-service-navigation__link govuk-service-navigation__link-label">
                            @ModificationOverview.Documents
                        </label>
                    </li>

                    <li class="govuk-service-navigation__item small-margin govuk-service-navigation__item--history">
                        <label for="tab-history" class="govuk-service-navigation__link govuk-service-navigation__link-label">
                            @ModificationOverview.History
                        </label>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Panels (toggle visibility via CSS) -->
<div id="sponsor-details" class="tab-content">
    <partial name="SponsorDetails" model="Model" viewData="ViewData"/>
</div>

<div id="modifications-changes" class="tab-content">
    <partial name="ModificationChanges" model="Model" viewData="ViewData"/>
</div>

<div id="documents" class="tab-content">
	<partial name="SupportingDocuments" model="Model" viewData="ViewData" />
</div>

<div id="history" class="tab-content">
    <partial name="_ProjectModificationAuditTrail" model="Model.AuditTrailModel" viewData="ViewData" />
</div>