@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.Portal.Application.Constants;
@model AuditTrailModel
@{
    ViewBag.Title = "Modification audit history";
}

@{
	List<(string Text, string? Url)>? breadcrumbs = null;

	if (User.IsInRole(Roles.StudyWideReviewer))
	{
		breadcrumbs = new()
		{
			("Approvals", Url.RouteUrl("approvalsmenu:welcome")),
			("My changes to review", Url.RouteUrl("mytasklist:index")),
			(Model.ShortTitle.ToString(), Url.RouteUrl("pov:index", new { projectRecordId = Model.ProjectRecordId }))
		};
	}
	else if (User.IsInRole(Roles.TeamManager))
	{
		breadcrumbs = new()
		{
			("Approvals", Url.RouteUrl("approvalsmenu:welcome")),
			("Team manager dashboard", Url.RouteUrl("tasklist:index")),
			(Model.ShortTitle.ToString(), Url.RouteUrl("pov:index", new { projectRecordId = Model.ProjectRecordId }))
		};
	}
	else if (User.IsInRole(Roles.WorkflowCoordinator))
	{
		breadcrumbs = new()
		{
			("Approvals", Url.RouteUrl("approvalsmenu:welcome")),
			("Modification tasklist", Url.RouteUrl("tasklist:index")),
			(Model.ShortTitle.ToString(), Url.RouteUrl("pov:index", new { projectRecordId = Model.ProjectRecordId }))
		};
	}
}

@if (breadcrumbs is not null)
{
	@section Breadcrumb
	{
		@await Html.PartialAsync("_Breadcrumb", breadcrumbs)
	}
}

<h1 class="govuk-heading-l">Audit history</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Short project title
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ShortTitle
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Modification ID
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ModificationIdentifier
                </dd>
            </div>
        </dl>
    </div>
</div>

<partial name="../Shared/_ProjectModificationAuditTrail" model="Model" />
