@{
    ViewBag.Title = "Review outcome submitted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Review outcome sent to applicant
            </h1>
        </div>

        <p class="govuk-body">
            The applicant will receive a status update.
            Any next steps has been sent to the applicant.
        </p>

        <a class="govuk-link" asp-route="mytasklist:index">
            Back to Task list
        </a>
    </div>
</div>