@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.CmsQuestionset
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@model (AreaOfChangeViewModel AreaOfChangeViewModel, string? InvalidSpecificAreaOfChangeId)
@{
    ViewBag.Title = (string?)ViewData[PageContentElements.MetaTitle];
    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    Model.AreaOfChangeViewModel.ModificationIdentifier = TempData[TempDataKeys.ProjectModification.ProjectModificationIdentifier] as string;
    TempData.Keep(TempDataKeys.ProjectModification.ProjectModificationIdentifier);
    var title = pageContent.GetValueOrDefault("Modifications.ConfirmModificationJourney.Title", null);
    var body = pageContent.GetValueOrDefault("Modifications.ConfirmModificationJourney.Content", null);   

    TempData[TempDataKeys.IsHaltRestartWarning] = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Html.Raw(title?.Value)</h1>
        <partial name="_ProjectModificationSummary" model="Model" view-data="ViewData" />
        <p class="govuk-body">
            @Html.Raw(body?.Value)
        </p>
        <div class="save-buttons">
            <a class="govuk-button" asp-route="pmc:areaofchange" asp-route-projectModificationId="@Model.AreaOfChangeViewModel.ModificationId" asp-route-projectRecordId="@Model.AreaOfChangeViewModel.ProjectRecordId">
                Return to select area of change
            </a>
        </div>
    </div>
</div>