<div class="govuk-grid-column-one-quarter">
    <nav class="govuk-!-margin-bottom-6">
        <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" asp-controller="Question" asp-action="Index">Questions</a></li>
            <li><a class="govuk-link" asp-controller="Category" asp-action="Index">Categories</a></li>
            <li><a class="govuk-link" asp-controller="Section" asp-action="Index">Sections</a></li>
            <li><a class="govuk-link" asp-controller="Rule" asp-action="Index">Rules & Conditions</a></li>
        </ul>
    </nav>
</div>