@{
	var versionId = Context.Request.Query["versionId"].ToString();
}

<div class="govuk-grid-column-one-quarter">
	<nav class="govuk-!-margin-bottom-6">
		<ul class="govuk-list govuk-!-font-size-16">
			<li><a class="govuk-link" asp-area="QuestionsManagement" asp-controller="Home" asp-action="Index" asp-route-versionId="@versionId">Questions</a></li>
			<li><a class="govuk-link" asp-area="QuestionsManagement" asp-controller="Home" asp-action="Categories" asp-route-versionId="@versionId">Categories</a></li>
			<li><a class="govuk-link" asp-area="QuestionsManagement" asp-controller="Home" asp-action="Sections" asp-route-versionId="@versionId">Sections</a></li>
			<li><a class="govuk-link" asp-area="QuestionsManagement" asp-controller="Home" asp-action="">Rules & Conditions</a></li>
		</ul>
	</nav>
</div>