@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Domain.Identity
@model User

@{
    ViewData["Title"] = "Modification assigned - Approvals";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Modifications assigned
            </h1>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
		<p class="govuk-body">The modifications are now available for @Model.GivenName @Model.FamilyName to review.</p>
        <a asp-route="tasklist:index" class="govuk-link">
            @(User.IsInRole(Roles.TeamManager) ? "Back to Dashboard" : "Back to Tasklist")
        </a>
    </div>
</div>