@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model RoleViewModel

<h2 class="govuk-heading-l">Delete Role</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <input type="hidden" asp-for="Name">

            <div class="govuk-form-group">
                <p>Are you sure you want to delete the role <strong>@Model.Name</strong>?</p>
            </div>

            @{
                ViewBag.Style = "govuk-button govuk-button--warning";
            }

            <partial name="_SubmitButton" model="@("admin:deleteroleconfirmed","Delete", new Dictionary<string, string>())" />

            @{
                ViewBag.Style = "ms-3 govuk-button govuk-button--secondary";
            }

            <partial name="_SubmitButton" model="@("admin:roles", "Cancel", new Dictionary<string, string>())" />
        </form>
    </div>
</div>