@{
    var active = ViewBag.Active as string;
}

<div class="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <nav class="govuk-service-navigation__wrapper">
                <ul class="govuk-service-navigation__list">
                    <li class="govuk-service-navigation__item @(active == "summary" ? "govuk-service-navigation__item--active" : "" )">
                        <a class="govuk-service-navigation__link" asp-route="admin:home">
                            Summary
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item @(active == "users" ? "govuk-service-navigation__item--active" : "" )">
                        <a class="govuk-service-navigation__link" asp-route="admin:users">
                            Users
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item @(active == "roles" ? "govuk-service-navigation__item--active" : "" )">
                        <a class="govuk-service-navigation__link" asp-route="admin:roles">
                            Roles
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>