@model (string Heading, string Description, string RouteName)


<div class="hra-card">
    <a 
        class="govuk-heading-s govuk-link hra-card-heading__link" 
        asp-route="@Model.RouteName">
        @Model.Heading
    </a>
    <p class="govuk-body">@Model.Description</p>
</div>
