@model (string Title, string Message)

<div class="govuk-notification-banner govuk-notification-banner--success"
     role="alert"
     aria-labelledby="govuk-notification-banner-title"
     aria-describedby="govuk-notification-banner-message"
     tabindex="0"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            @Model.Title
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading" id="govuk-notification-banner-message">
            @Model.Message
        </h3>
    </div>
</div>