@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent

@{
	var bannerContent = (RichTextProperties?)ViewData["PhaseBanner"];
}

@if (!string.IsNullOrEmpty(bannerContent?.Value?.Markup))
{
	<div class="govuk-phase-banner">
		<div class="govuk-phase-banner__content">
			<strong class="govuk-tag govuk-phase-banner__content__tag">
				Beta
			</strong>
			<div class="govuk-phase-banner__text">@Html.Raw(bannerContent.Value.Markup)</div>
		</div>
	</div>
}
