@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model (string IrasId, string ProjectTitle, string ModificationId)

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            IRAS ID
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.IrasId
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Short project title
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.ProjectTitle
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Modification ID
        </dt>
        <dd class="govuk-summary-list__value">
            @Model.ModificationId
        </dd>
    </div>
</dl>