@using Rsp.Portal.Application.Configuration
@inject AppSettings appSettings

@{
    ViewBag.Title = "You have been signed out";
}

<h1 class="govuk-heading-l">You have been signed out</h1>

<p class="govuk-body">
    We have signed you out to protect your data because there was no activity for @(appSettings.SessionTimeout / 60) minutes.
</p>

<p class="govuk-body">
    Any answers you saved have not been affected.
</p>

<a asp-route="acc:home" class="govuk-button">Sign back in</a>