@using Rsp.IrasPortal.Web.Extensions
@{
    var modificationBaseModel = TempData.PopulateBaseProjectModificationProperties(new BaseProjectModificationViewModel());
}

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">IRAS ID</dt>
        <dd class="govuk-summary-list__value">@modificationBaseModel.IrasId</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Short project title</dt>
        <dd class="govuk-summary-list__value">@modificationBaseModel.ShortTitle</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Modification ID</dt>
        <dd class="govuk-summary-list__value">@modificationBaseModel.ModificationIdentifier</dd>
    </div>
</dl>