@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs
@using Rsp.Portal.Domain.AccessControl
@using Rsp.Portal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.Status != ModificationStatus.InDraft)
        {
            <h1 class="govuk-heading-l">Modification</h1>
        }
        else
        {
            <h1 class="govuk-heading-l">Review all changes</h1>
        }

        @{
            <partial name="_ProjectModificationSummary" model="Model" viewData="ViewData" />
        }

        <h2 class="govuk-heading-m">Summary details</h2>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Ranking
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-summary-card__content">
                    @{
                        var ranking = new RankingOfChangeViewModel
                        {
                            ModificationType = Model.ModificationType,
                            Category = Model.Category,
                            ReviewType = Model.ReviewType
                        };
                        <partial name="RankingOfChange" model="ranking" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.Status != ModificationStatus.InDraft)
        {
            <partial name="_NavigationTabPartial" model="Model" view-data="ViewData" />
        }
        else
        {
            <h2 class="govuk-heading-m">Changes</h2>
            <partial name="ModificationChanges" model="Model" view-data="ViewData" />

            <partial name="SupportingDocuments" model="Model" view-data="ViewData" />

            <partial name="SponsorDetails" model="Model" view-data="ViewData" />
        }  
       
    </div>
</div>