@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs
@using Rsp.Portal.Domain.AccessControl
@using Rsp.Portal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @{
            var heading = Model.Status switch
            {
                ModificationStatus.InDraft => "Review all changes",
                ModificationStatus.RequestRevisions => "Make revisions",
                _ => "Modification"
            };
        }
        <h1 class="govuk-heading-l">@heading</h1>

        @{
            <partial name="_ProjectModificationSummary" model="Model" viewData="ViewData" />
        }

        @{
            var subHeading = Model.Status == ModificationStatus.RequestRevisions
                ? "Summary details"
                : "Overall modification ranking";
        }
        <h2 class="govuk-heading-m">@subHeading</h2>

        <h2 class="govuk-heading-m">Summary details</h2>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Ranking
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <div class="govuk-summary-card__content">
                    @{
                        var ranking = new RankingOfChangeViewModel
                        {
                            ModificationType = Model.ModificationType,
                            Category = Model.Category,
                            ReviewType = Model.ReviewType
                        };
                        <partial name="RankingOfChange" model="ranking" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.Status != ModificationStatus.InDraft && Model.Status != ModificationStatus.RequestRevisions)
        {
            <partial name="_NavigationTabPartial" model="Model" view-data="ViewData" />
        }
        else
        {
            <h2 class="govuk-heading-m">Changes</h2>
            <partial name="ModificationChanges" model="Model" view-data="ViewData" />

            <partial name="SupportingDocuments" model="Model" view-data="ViewData" />

            <partial name="SponsorDetails" model="Model" view-data="ViewData" />
        }
    </div>
</div>