@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel

@{
    ViewBag.Title = $"Remove {Model.SpecificAreaOfChange}";

    //string projectRecordId, string irasId, string shortTitle, Guid projectModificationId

    var modificationParams = new Dictionary<string, string> {
            { "projectRecordId", Model.ProjectRecordId },
            { "irasId", Model.IrasId  },
            { "shortTitle", Model.ShortTitle ?? string.Empty },
            { "projectModificationId", Model.ModificationId ?? string.Empty }
        };

    var navModel = ("pmc:modificationdetails", "Back", modificationParams);
}

<div class="govuk-width-container">
    @section BackNavigation {
        <form method="get">
            <partial name="_BackNavigation" model="navModel" />
        </form>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Are you sure you want to remove @Model.SpecificAreaOfChange?</h1>

            @{
                <partial name="_ProjectModificationSummary" model="Model" view-data="ViewData" />
            }

            <div class="save-buttons">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input hidden name="modificationChangeId" value="@Model.ModificationChangeId" />
                    <input hidden name="modificationChangeName" value="@Model.SpecificAreaOfChange" />
                    <button asp-route="pmc:removechange" type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                        Remove change
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>