@using Rsp.IrasPortal.Application.Constants
@model Rsp.IrasPortal.Web.Features.Modifications.Models.ModificationDetailsViewModel

@{
    ViewBag.Title = "Delete modification";

    ViewData[ViewDataKeys.ShowRemoveLink] = false;
    ViewData[ViewDataKeys.ShowModificationChangeStatus] = false;
    ViewData[ViewDataKeys.ShowModificationStatus] = false;

    var modificationParams = new Dictionary<string, string>
    {
        { "projectRecordId", Model.ProjectRecordId },
        { "irasId", Model.IrasId },
        { "shortTitle", Model.ShortTitle ?? string.Empty },
        { "projectModificationId", Model.ModificationId ?? string.Empty },
        { "projectModificationIdentifier", Model.ModificationIdentifier ?? string.Empty }
    };
}

@section BackNavigation {
    @{
        <partial name="_BackNavigation" model="@("pmc:reviewallchanges", "Back", modificationParams)"/>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Confirm that you want to permanently delete modification @Model.ModificationIdentifier</h1>
        @{
            <partial name="_ProjectModificationSummary" model="Model" viewData="ViewData"/>
        }
        <p class="govuk-body">Deleting a modification cannot be undone.</p>

        @{
            ViewBag.Style = "govuk-button govuk-button--warning";
        }
        <form method="post">
            <partial name="_SubmitButton"
                     model="@("pmc:DeleteModificationConfirmed", "Delete modification", modificationParams)"/>
        </form>
    </div>
</div>