@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.FeatureManagement
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Web.Features.Modifications.Models
@model BaseProjectModificationViewModel

@{
	var modificationParams = new Dictionary<string, string> {
			{ "projectRecordId", Model.ProjectRecordId },
			{ "irasId", Model.IrasId  },
			{ "shortTitle", Model.ShortTitle ?? string.Empty },
			{ "projectModificationId", Model.ModificationId ?? string.Empty }
		};
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">You cannot proceed whilst document 
			details are incomplete</h1>
        <partial name="_ProjectModificationSummary" model="Model" view-data="ViewData" />
		<p class="govuk-body">
			All documents must have the status 'Complete' before you can continue.
			For any documents with the status 'Incomplete', either select 'Change details'
			to add missing document details, or remove that document if it is no longer
			needed.
		</p>
		<div class="save-buttons">
			<a class="govuk-button" asp-route="pmc:modificationdetails" asp-all-route-data="modificationParams">
                Return to review modification
			</a>
		</div>
	</div>
</div>