@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.FeatureManagement
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Web.Features.Modifications.Models
@model BaseProjectModificationViewModel

@{
	var modificationParams = new Dictionary<string, string> {
			{ "projectRecordId", Model.ProjectRecordId },
			{ "irasId", Model.IrasId  },
			{ "shortTitle", Model.ShortTitle ?? string.Empty },
			{ "projectModificationId", Model.ModificationId ?? string.Empty }
        };

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var title = pageContent.GetValueOrDefault("Modifications.Documentsscaninprogress.Title", null);
    var body = pageContent.GetValueOrDefault("Modifications.Documentsscaninprogress.Body", null);
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Html.Raw(title?.Value)</h1>
        <partial name="_ProjectModificationSummary" model="Model" view-data="ViewData" />
		<p class="govuk-body">
            @Html.Raw(body?.Value)
		</p>
		<div class="save-buttons">
			<a class="govuk-button" asp-route="pmc:modificationdetails" asp-all-route-data="modificationParams">
                Return to review modification
			</a>
		</div>
	</div>
</div>