<dl class="govuk-summary-list govuk-!-margin-bottom-7">

    <div class="govuk-summary-list__row" id="ranking-modification-type">
        <dt class="govuk-summary-list__key">Modification Type</dt>
        <dd class="govuk-summary-list__value">
            {Substantial/Modification of an important detail/Minor modification}
        </dd>
    </div>

    <div class="govuk-summary-list__row" id="ranking-category">
        <dt class="govuk-summary-list__key">Category</dt>
        <dd class="govuk-summary-list__value">
            {A > B/C > B > C > New site > N/A}
        </dd>
    </div>

    <div class="govuk-summary-list__row" id="ranking-review-type">
        <dt class="govuk-summary-list__key">Review Type</dt>
        <dd class="govuk-summary-list__value">
            {No review required/review required}
        </dd>
    </div>
</dl>