@import url("govuk-frontend.min.css");

.govuk-form-group {
    &.questions {
        border: solid 1px lightgrey;
        padding: 30px;
    }
}

fieldset {
    &.sections {
        margin-bottom: 10px;
    }
}

.govuk-fieldset__legend {
    &.govuk-fieldset__legend--l {
        margin-bottom: 0;
        color: #8f358f;
    }
}

.progress-container {
    font-family: "GDS Transport", arial, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.stage {
    text-align: center;
    flex: 1;
    position: relative;
}

.stage-label {
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
}

.progress-line {
    height: 5px;
    background-color: gray;
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    z-index: 0;
}

.stage-circle {
    width: 20px;
    height: 20px;
    background-color: #ffc300;
    border-radius: 50%;
    margin: 0 30px;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.stage.active .stage-circle {
    background-color: #1d70b8;
}

.stage.completed .stage-circle {
    background-color: #00703c;
}

.stage.active .stage-label,
.stage.completed .stage-label {
    font-weight: bold;
}

button.govuk-link {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1578em;
    border: 0;
    background-color: transparent;
}

.save-buttons {
    display: flex;
    gap: 15px;
}

.research-panel {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-color: lightgray;
    border-width: 2px;
}

.research-text {
    margin: 0;
}

.govuk-button-hyperlink {
    background: none;
    border: 0;
    color: #0d6efd;
    text-decoration: underline;

    &:hover {
        color: #0a58ca;
    }
}

.role-checkbox {
    text-transform: capitalize;
}

.govuk-table__header-sortable {
    color: #1D70B8;
    white-space: nowrap;
}

.govuk-pagination {
    margin-bottom: 0;
}

.float-right {
    float: right;
}

.text-capitalize {
    text-transform: capitalize;
}

.govuk-pagination__results {
    font-family: GDS Transport, arial, sans-serif;
    margin-top: 0;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    float: right;
}

.text-capitalize {
    text-transform: capitalize;
}

.govuk-link-button {
    background: none;
    border: none;
    color: #1d70b8;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-underline-offset: .1578em;

    &:hover {
        color: #003078;
        text-decoration-thickness: max(3px, .1875rem, .12em);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
        -webkit-text-decoration-skip: none;
        text-decoration-skip: none;
    }

    &:focus {
        outline: 3px solid transparent;
        background-color: #fd0;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        color: #0b0c0c;
    }
}

.govuk-back-link-button {
    font-size: .875rem;
    line-height: 1.1428571429;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    text-decoration-thickness: max(1px,.0625rem);
    text-underline-offset: .1578em;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: .875em;
    color: #0b0c0c;
    background: none;
    border: none;
}

@media (min-width:40.0625em) {
    .govuk-back-link-button {
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .govuk-back-link-button {
        font-size: 14pt;
        line-height: 1.2;
        font-family: sans-serif
    }
}

.govuk-back-link-button:hover {
    text-decoration-thickness: max(3px,.1875rem,.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.govuk-back-link-button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.govuk-back-link-button:link, .govuk-back-link-button:visited {
    color: #0b0c0c
}

@media print {
    .govuk-back-link-button:link, .govuk-back-link-button:visited {
        color: #000
    }
}

.govuk-back-link-button:hover {
    color: rgba(11,12,12,.99)
}

.govuk-back-link-button:active, .govuk-back-link-button:focus {
    color: #0b0c0c
}

@media print {
    .govuk-back-link-button:active, .govuk-back-link-button:focus {
        color: #000
    }
}

.govuk-back-link-button:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: .1875em;
    width: .4375em;
    height: .4375em;
    margin: auto 0;
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f
}

@supports (border-width:max(0px)) {
    .govuk-back-link-button:before {
        border-width: max(1px,.0625em) max(1px,.0625em) 0 0;
        font-size: max(16px,1em)
    }
}

.govuk-back-link-button:focus:before {
    border-color: #0b0c0c
}

.govuk-back-link-button:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0
}

.govuk-back-link-button--inverse:link, .govuk-back-link-button--inverse:visited {
    color: #fff
}

.govuk-back-link-button--inverse:active, .govuk-back-link-button--inverse:hover {
    color: hsla(0,0%,100%,.99)
}

.govuk-back-link-button--inverse:focus {
    color: #0b0c0c
}

.govuk-back-link-button--inverse:before {
    border-color: currentcolor
}

.line-break-anywhere {
    line-break: anywhere;
}

.govuk-table--name {
    width: 16%;
}

.govuk-table--email {
    width: 25%;
}

.govuk-table-wrapper {
    overflow-x: auto;
}

.govuk-table-users {
    min-width: 550px;
}

.govuk-service-navigation__item.small-margin {
    margin-right: 20px !important;
}

.govuk-back-link {
    @media(min-width: 40.0625em) {
        margin-bottom: 45px;
    }
}

.autocomplete__menu {
    margin-top: 10px !important;
    border: 2px solid black;
    font-size: 16px !important;
}

.autocomplete__menu:not([data-before-suggestions=""])::before {
    content: attr(data-before-suggestions); //"Suggestions ";
    background-color: #f3f2f1;
    border-bottom: 2px solid black !important;
    border-top: 2px solid black;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px;
}

.autocomplete__menu:not([data-after-suggestions=""])::after {
    content: attr(data-after-suggestions); //"Continue entering to improve suggestions";
    background-color: #f3f2f1;
    border-top: 2px solid black !important;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px;
}

.autocomplete__menu:has(.autocomplete__option:empty) {
    border-style: solid;
    border-color: black;
    border-width: 0 2px 0 2px;
}

.autocomplete__option {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: white !important;
    color: black !important;
    font-size: 16px !important;
}

.autocomplete__option--focused, .autocomplete__option:hover {
    background-color: #003078 !important;
    color: white !important;
}

.autocomplete__option.autocomplete__option--no-results {
    background-color: #f3f2f1 !important;
    border-top: 2px solid black !important;
    border-left-width: 0;
    border-right-width: 0;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px;
}

.autocomplete__option:empty {
    display: none;
}

.hra-card {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #b1b4b6
}

.hra-card-heading__link {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 9px;
        right: 4px;
        height: 7px;
        width: 7px;
        border-right: 3px solid #1d70b8;
        border-top: 3px solid #1d70b8;
        transform: translateY(0) rotate(45deg) scale(1);
        -webkit-transform: translateY(0) rotate(45deg) scale(1);
        -ms-transform: translateY(0) rotate(45deg) scale(1);
        box-sizing: content-box;
    }

    &:link::before {
        border-color: #1d70b8;
    }

    &:visited::before {
        border-color: #4c2c92;
    }

    &:hover::before {
        border-color: #003078;
    }

    &:focus::before,
    &:active::before {
        border-color: #0b0c0c;
    }
}

.govuk-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}

dialog.govuk-modal {
    position: fixed;
    margin: auto;
    max-width: 90%;
    width: 400px;
    background: white;
    border: 4px solid #1d70b8;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    border-radius: 8px;
}

.govuk-modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog[open] {
    display: block;
}

#timeout-title:focus {
    outline-color: #1d70b8;
    outline-width: 2px;
}

.sponsor-org-search {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.sponsor-org-search .govuk-button {
    margin-bottom: 0;
}

.govuk-checkboxes__label::before {
    background-color: white !important;
}

.govuk-radios__input + .govuk-radios__label::before {
    background-color: white !important; /* Inner fill */
    border-color: #0b0c0c !important; /* Optional: outer ring */
}

.govuk-radios__input:checked + .govuk-radios__label::after {
    background-color: #0b0c0c !important; /* Inner dot */
}

.autocomplete__input {
    background-color: white !important;
}

.govuk-label--s.font-weight-none {
    font-weight: 100 !important;
}

.search-flex-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.search-flex-input {
    flex-basis: 87.5%;
    flex-grow: 1;
}

.search-flex-button {
    flex-basis: 12.5%;
}

/* Filter Panel */
.search-filter-panel {
    padding-top: 15px;
    margin-bottom: 10px;
}

.search-filter-toggle[open] > .search-filter-panel__header::before {
    transform: rotate(-135deg);
}

.search-filter-panel__header {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 1.1875rem;
    line-height: 1.315789474;
    color: #1d70b8;
    background: none;
    border: none;
    /* Remove focus styles from the summary element */
    &:focus,
    &:focus-visible {
        outline: none;
        background: none;
        box-shadow: none;
    }
}

.search-filter-panel__button-inner {
    text-decoration: underline;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        border: solid currentColor;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin-right: 8px;
        transform: rotate(45deg);
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.1578em;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    }

    &:focus,
    &:focus-visible {
        outline: 3px solid rgba(0, 0, 0, 0);
        background-color: #fd0;
        color: #0b0c0c;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
    }
}

.search-filter-panel__count {
    margin: 0;
    padding-left: 1rem;
    font-size: 1rem;
    color: #505a5f;
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    line-height: 1.25;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    text-decoration: none;
    outline: none;

    &:focus,
    &:focus-visible {
        outline: none;
        box-shadow: none;
    }
}

@media print {
    .search-filter-panel__count {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.2;
    }
}

.search-filter-panel__content {
    background-color: #f3f2f1;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.search-filter-panel__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.search-filter-panel__action--submit {
    flex: 2 0 60%;
    margin-bottom: 0;
}

.search-filter-section {
    border-bottom: 1px solid #b1b4b6;
}

.search-filter-section__summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0b0c0c;
    list-style: none;
    padding: 25px 0;
    margin: 0;
}

.search-filter-section__summary::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border: solid #0b0c0c;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
    flex-shrink: 0;
    align-self: center;
}

.search-filter-section[open] .search-filter-section__summary::before {
    transform: rotate(-135deg);
}

.search-filter-section__summary:hover .search-filter-section__summary-heading {
    text-decoration: underline;
    text-underline-offset: 0.1578em;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    text-decoration-skip-ink: none;
}

.search-filter-section__summary:focus .search-filter-section__summary-heading {
    background-color: #fd0;
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.search-filter-section__summary:focus-visible {
    outline: none;
}

.search-filter-section__summary-heading {
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.315789474;
    font-family: "GDS Transport", arial, sans-serif;
    margin: 0;
}

.search-filter-section__content {
    margin-bottom: 25px;
}

.search-filter-summary {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-top: 1px solid #b1b4b6;
    border-bottom: 1px solid #b1b4b6;
}

.search-filter-line-break {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #b1b4b6;
}

.search-filter-summary__heading {
    margin: 20px 0 10px;
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

@media print {
    .search-filter-summary__heading {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15;
    }
}

.search-filter-summary__remove-filters {
    list-style-type: none;
    margin-block-start: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-filter-summary__remove-filter {
    border: 1px solid #b1b4b6;
    border-radius: 0.3125em;
    padding: 5px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0b0c0c;
    background-color: #f3f2f1;
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

@media print {
    .search-filter-summary__remove-filter {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15;
    }
}

.search-filter-summary__remove-filter:focus {
    background-color: #fd0;
    outline: 2px #0b0c0c solid;
    border-color: #0b0c0c;
    color: #0b0c0c;
}

.search-filter-summary__remove-filter:hover {
    outline: 1px #0b0c0c solid;
    border-color: #0b0c0c;
    color: #0b0c0c;
}

.search-filter-summary__remove-filter::before {
    content: "×";
    padding-right: 5px;
    font-size: 22px;
    margin-top: 1px;
}

.search-filter-summary__clear-filters {
    font-family: "GDS Transport", arial, sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

@media print {
    .search-filter-summary__clear-filters {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15;
    }
}
/* End Filter Panel */

.margin-zero {
    margin: 0;
}

.checkbox-cell {
    padding: 7px 0 0 0 !important;
}

.modifications-tasklist-table {
    td, th {
        padding: 20px 20px 20px 0;
    }
}

button.govuk-pagination__item--current {
    color: #fff;
}

button.govuk-pagination__link {
    color: #1d70b8;
    padding: 0;
}

.govuk-pagination__next button, .govuk-pagination__prev button {
    font-weight: 700
}

button.govuk-pagination__item--current {
    color: #fff;
}

@media print {
    .search-filter-summary__clear-filters {
        font-family: sans-serif
    }
}

@media print {
    .search-filter-summary__clear-filters {
        font-size: 14pt;
        line-height: 1.15
    }
}

.table-header-sort-button {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    background: none;
    border: none;
    color: #1d70b8;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-underline-offset: .1578em;
    justify-content: flex-start;
    text-align: left;

    &:hover {
        color: #003078;
        text-decoration-thickness: max(3px, .1875rem, .12em);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
        -webkit-text-decoration-skip: none;
        text-decoration-skip: none;
    }

    &:focus {
        outline: 3px solid transparent;
        background-color: #fd0;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        color: #0b0c0c;
    }
}

.review-body-search {
    display: flex;
    gap: 10px;

    .govuk-input {
        flex-grow: 1;
    }
}

.govuk-label.js-hidden {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

.flex-gap-2 {
    display: flex;
    gap: 2rem
}

.govuk-label.govuk-label--s[for="MainChangesDescription"] {
    font-weight: normal;
}

.govuk-tag.non-max-width-govuk-tag {
    max-width: none;
}

.govuk-summary-card__title-wrapper.prevent-action-stretch {
    .govuk-summary-card__action {
        height: 1.5em;
    }
}

.line-separator {
    width: 100%;
    padding-top: 15px;
    border-top: 2px solid #b1b4b6;
}

.govuk-error-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gov-heading-nowrap {
    white-space: nowrap;
}

.govuk-phase-banner__text {
    p {
        margin-bottom: 0;
    }

    a {
        color: #1d70b8;

        &:hover {
            color: #003078;
            text-decoration-thickness: max(3px, .1875rem, .12em);
            -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            text-decoration-skip: none;
        }

        &:focus {
            color: #0b0c0c;
            background-color: #fd0;
            box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
            text-decoration: none;
        }

        &:active {
            color: #0b0c0c;
        }
    }
}

.govuk-rte {
    a {
        color: #1d70b8;

        &:hover {
            color: #003078;
            text-decoration-thickness: max(3px, .1875rem, .12em);
            -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
            -webkit-text-decoration-skip: none;
            text-decoration-skip: none;
        }

        &:focus {
            color: #0b0c0c;
            background-color: #fd0;
            box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
            text-decoration: none;
        }

        &:active {
            color: #0b0c0c;
        }
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.25;
        color: #0b0c0c;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        display: block;
        margin-top: 0;
    }

    h3 {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
        color: #0b0c0c;
        font-family: GDS Transport, arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        display: block;
        margin-top: 0;
    }
}

.header-service-name {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
}

.cookie-banner-form {
    width: 100%;

    @media (min-width: 40.0625em) {
        width: auto;
    }
}

.govuk-tab-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Remove background colour from list and items */
.govuk-service-navigation__container,
.govuk-service-navigation__wrapper,
.govuk-service-navigation__list,
.govuk-service-navigation__item {
    background: var(--background-govuk-body-background-colour, #f4f8fb);
}

/* Hide all panels by default */
.tab-content {
    display: none;
    margin-top: 1.5rem;
}

/* Show the panel corresponding to the checked input */
#tab-sponsor-details:checked ~ #sponsor-details,
#tab-modifications-changes:checked ~ #modifications-changes,
#tab-documents:checked ~ #documents,
#tab-history:checked ~ #history {
    display: block;
}

/* Highlight the active tab (underline and text colour) */
#tab-sponsor-details:checked ~ .govuk-service-navigation .govuk-service-navigation__item--sponsor-details > label,
#tab-modifications-changes:checked ~ .govuk-service-navigation .govuk-service-navigation__item--modifications-changes > label,
#tab-documents:checked ~ .govuk-service-navigation .govuk-service-navigation__item--documents > label,
#tab-history:checked ~ .govuk-service-navigation .govuk-service-navigation__item--history > label {
    border-bottom: 4px solid #1d70b8;
    color: #0b0c0c;
}

/* Label behaves like a link */
.govuk-service-navigation__link-label {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 4px;
    text-decoration: none;
    color: #1d70b8;
}

.govuk-error-message {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.govuk-accordion__section-toggle {
    cursor: pointer;
}

.govuk-summary-card__actions {
    font-weight: normal;
}

.govuk-content-wrapper a {
    color: #1d70b8;
    text-decoration: underline;
}

.govuk-content-wrapper a:visited {
    color: #4c2c92;
}

.govuk-content-wrapper a:hover {
    color: #003078;
}

.govuk-content-wrapper a:active {
    color: #0b0c0c;
}

.govuk-content-wrapper a:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    background-color: #fd0;
    color: #0b0c0c;
    text-decoration: none;
}