@using Rsp.IrasPortal.Web.Models
@using Rsp.Portal.Application.Constants

@model ProjectTeamViewModel
@{
    ViewBag.Title = "Add collaborator";
    var emailFound = TempData[TempDataKeys.CollaboratorExists] as bool?;
    var collaboratorAlreadyAdded = (TempData[TempDataKeys.CollaboratorAlreadyAdded] as bool?).GetValueOrDefault();
}

<partial name="_BackNavigation" model="@("pov:projectteam", "Back", new Dictionary<string, string>() { { "projectRecordId", Model.ProjectOverviewModel.ProjectRecordId! } })" />

@if (collaboratorAlreadyAdded)
{
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                This user is already a collaborator on this project
            </p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Add collaborator for @Model.ProjectOverviewModel.ProjectTitle</h1>

        <h2 class="govuk-heading-m">Search email</h2>
        <p class="govuk-body">Search using the full email address the collaborator uses to log in to their Plan and manage health and care research account</p>

        <form asp-action="SearchCollaborator">
            <input type="hidden" asp-for="ProjectOverviewModel.ProjectRecordId" />
            <div class="govuk-form-group">
                <div class="govuk-input__wrapper">
                    <input asp-for="Search" class="govuk-input" type="text"/>
                    <button class="govuk-button govuk-button--secondary mb-0" style="margin-left:10px" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>

        @if (emailFound.HasValue && !collaboratorAlreadyAdded)
        {
            if (emailFound.Value)
            {
                <h2 class="govuk-heading-m">@Model.Search</h2>
                <p class="govuk-body">Save and continue to select access level.</p>
                <button class="govuk-button govuk-button-primary">Save and continue</button>
            } 
            else
            {
                <h2 class="govuk-heading-m">User account doesn't exist</h2>
                <p class="govuk-body">
                    There isn't a user account registered to the email address you entered, so you can't add them to this project as a collaborator.
                    <br /><br />
                    You can try again. Make sure you double-check the spelling when entering the email address.
                    <br /><br />
                    You should also check with the user to confirm you are using the correct email address. You need to add them using the same email address they use to log into this service. If they don't have an account for this service yet, they will need to set one up before you can add them as a collaborator.
                    <br /><br />
                    To get help, contact the support team. 
                    <br /><br />
                    <strong>Online</strong>
                    <br />
                    Visit the <a class="govuk-link" href="#">HRA support site</a>
                    <br /><br />
                    <strong>Email</strong>
                    <br />
                    <a class="govuk-link" href="mailto:service.desk@hra.nhs.uk">service.desk@hra.nhs.uk</a>
                    <br /><br />
                    <strong>Phone</strong>
                    <br />
                    020 7104 8260
                    <br />
                    Monday to Friday, 9am to 5pm
                </p>
            }
        }
    </div>
</div>
