@using Rsp.IrasPortal.Application.Constants;
@using Rsp.IrasPortal.Application.DTOs.Responses;
@model ProjectOverviewModel

@{
    ViewBag.Title = "Project overview";
    ViewBag.Active = ProjectOverview.PostApproval;
}

<partial name="_NavigationHeaderPartial" model="@Model" />


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
        <h2 class="govuk-heading-m">Post approval</h2>        
        <a asp-route="pmc:createmodification"
           class="govuk-button">
            Create new modification
        </a>
    </div>
</div>