@using Rsp.IrasPortal.Application.Constants;
@model ProjectOverviewModel

@{
    ViewBag.Title = "Project overview";
    ViewBag.Active = ProjectOverview.ProjectTeam;
}

@{
    var routeName = (ViewData["BackRoute"] as string) ?? "app:Welcome";
    var routeValues = ViewData["BackRouteValues"] as Dictionary<string, string>
                      ?? new Dictionary<string, string>();
	var projectTitle = !string.IsNullOrEmpty(Model.ProjectTitle) ? Model.ProjectTitle : "Project overview";
}

@section Breadcrumb {
	@await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
	{
		("My research",Url.RouteUrl("app:welcome")),
		(projectTitle, Url.RouteUrl("pov:projectdetails", new Dictionary<string, string>{{"projectRecordId", Model.ProjectRecordId!}}))
	})
}

<partial name="_NavigationHeaderPartial" model="@Model" />

<div class="govuk-grid-row">
    <div class="govuk-width-container govuk-!-margin-top-4">
		<h2 class="govuk-heading-m">Project team</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Chief Investigator
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ChiefInvestigator
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Primary sponsor organisation
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PrimarySponsorOrganisation
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sponsor contact
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.SponsorContact
                </dd>
            </div>        
        </dl>
    </div>
</div>