@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model Rsp.IrasPortal.Web.Features.SponsorWorkspace.MyOrganisations.Models.SponsorMyOrganisationProfileViewModel

@section Breadcrumb {
    @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
    {
        ("Sponsor workspace", Url.RouteUrl("sws:sponsorworkspace")),
        ("My organisations", Url.RouteUrl("sws:myorganisations"))
    })
}

@{
    var errorSummaryTitle = "There is a problem";
    ViewBag.Title = "Sponsor organisations profile";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationProfile.Title", null);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-label">
            @Html.Raw(headline?.Value)
        </div>
        <h1 class="govuk-heading-l">@Model.Name</h1>
    </div>
</div>

<partial name="_NavigationTabPartial" model="@Model" view-data="@ViewData"/>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-label">
            Profile
        </div>
    </div>
</div>	