@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model Rsp.IrasPortal.Web.Features.SponsorWorkspace.MyOrganisations.Models.SponsorMyOrganisationUsersViewModel

@{
	ViewBag.Title = "Add a new user profile to sponsor organisation - Manage sponsor organisations - System Administration";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();


}

@section BackNavigation {
	<partial name="_BackNavigation" model="@("sws:myorganisationusersadduser", "Back", new Dictionary<string, string> { { "RtsId", Model.RtsId } })" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")" />
        <div class="govuk-label">
            Sponsor organisation profile
        </div>
        <h1 class="govuk-heading-l">Add user role</h1>
    </div>
</div>


