@model Rsp.IrasPortal.Web.Features.SponsorWorkspace.MyOrganisations.Models.SponsorMyOrganisationProfileViewModel

<div class="govuk-summary-card">
	<div class="govuk-summary-card__title-wrapper">
		<h2 class="govuk-summary-card__title">
			Projects
		</h2>
	</div>
</div>