@model AddUpdateReviewBodyModel

@{
	ViewData["Title"] = ViewBag.Mode == "disable" ? "Disable review body" : "Enable review body";
    var buttonText = "Confirm";
	var heading = ViewBag.Mode == "disable" ? "Confirm that you want to disable" : "Confirm that you want to enable";
	var hint = ViewBag.Mode == "disable" ? "You are about to disable this review body" : "You are about to enable this review body";
	var submitActionName = "rbc:confirmstatusupdate";
	var style = ViewBag.Mode == "disable" ? "govuk-button govuk-button--warning" : "govuk-button";
}

<form method="get">
    <partial name="_BackNavigation" model="@("rbc:viewreviewbody", "Back", new Dictionary<string, string>(){{"Id", Model.Id.ToString()}})" />
</form>

<h1 style="margin-top:30px" class="govuk-heading-l">@heading @Model.OrganisationName</h1>

<p class="govuk-body">
    @hint
</p>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="IsActive" />
    <input type="hidden" asp-for="OrganisationName" />
    @{
        ViewBag.Style = style;
    }
    <partial name="_SubmitButton" model="@(submitActionName, buttonText, new Dictionary<string, string>())"/>
</form>

