@{
    ViewData["Title"] = "Review Body Added Successfully";
}

@model AddUpdateReviewBodyModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Review body has been successfully added
            </h1>
        </div>

        <p class="govuk-body">
            A confirmation email will be sent to <strong>@Model.OrganisationName</strong> to confirm that their profile has been added. Their status is now active.
        </p>

        <ul class="govuk-list">
            <li><a class="govuk-link" asp-action="AddReviewBody">Add another review body</a></li>
            <li><a class="govuk-link" href="#">Back to Manage review bodies</a></li>
        </ul>
    </div>
</div>