@{
    var heading = "";
    var messageText = "";

    switch (ViewBag.Mode)
    {
        case "create":
        {
            heading = "Review body has been successfully added";
            messageText = $"A confirmation email will be sent to {Model.OrganisationName} to confirm that their profile has been added. Their status is now active.";
        }
            break;
        case "disable":
        {
            heading = "Review body successfully disabled";
            messageText = $"A confirmation email will be sent to {Model.OrganisationName} to confirm that their profile has been disabled.";
        }
            break;
        case "enable":
        {
            heading = "Review body successfully enabled";
            messageText = $"A confirmation email will be sent to {Model.OrganisationName} to confirm that their profile has been enabled.";
        }
            break;
    }

    ViewData["Title"] = heading;
}

@model AddUpdateReviewBodyModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                @heading
            </h1>
        </div>

        <p class="govuk-body">
            @messageText
        </p>

        @if (ViewBag.Mode == "create")
        {
            <p class="govuk-body">
                <a class="govuk-link" asp-action="CreateReviewBody">Add another review body</a>
            </p>
        }

        <p class="govuk-body">
            <a class="govuk-link" asp-route="rbc:viewreviewbodies">Back to Manage review bodies</a>
        </p>
    </div>
</div>