@model AddUpdateReviewBodyModel

@{
    ViewData["Title"] = "Review body profile - Manage review bodies - System Administration";
    var reviewBodyModel = Model;
    var submitActionName = Model.IsActive ? "rbc:disablereviewbody" : "rbc:enablereviewbody";
    var buttonText = Model.IsActive ? "Disable review body" : "Enable review body";
    var heading = Model.IsActive ? "Disable this review body?" : "Enable this review body";
    var hint = Model.IsActive ? "Disabling a review body will lock their account and can be reversed" : "Enabling a review body will unlock their account";
}

@section Breadcrumb {
	@await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
	{
		("My account", "/"),
		("System administration", Url.Action("Index", "SystemAdmin")),
		("Manage review bodies", Url.Action("ViewReviewBodies", "ReviewBody"))
	})
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Review body profile: @Model.RegulatoryBodyName</h1>
    </div>
</div>

<partial name="_ReviewBodySummaryTablePartial" model="(reviewBodyModel, true)" />

<h2 class="govuk-heading-m">@heading</h2>
<p class="govuk-hint">
    @hint
</p>

<form method="post">
    <input type="hidden" asp-for="Id" />
    @{
        ViewBag.Style = "govuk-button govuk-button--secondary";
    }
    <partial name="_SubmitButton" model="@(submitActionName, buttonText, new Dictionary<string, string>())" />
</form>