@model AddUpdateReviewBodyModel

@{
	ViewData["Title"] = "View review body";
	var reviewBodyModel = @Model;
}

<partial name="_BackNavigation" model="@("rbc:viewreviewbodies", "Back", new Dictionary<string, string>())" />

<h1 style="margin-top:30px" class="govuk-heading-l">Review body profile: @Model.OrganisationName</h1>

<partial name="_ReviewBodySummaryTablePartial" model="(reviewBodyModel, true)" />

<h2 class="govuk-heading-m">Do you want to disable this review body?</h2>
<p class="govuk-hint">
    Disabling a user record will prevent the administrator from accessing their account. 
    This can be reversed once requested.
</p>
<button class="govuk-button govuk-button--secondary">Disable review body</button>
