@using Rsp.IrasPortal.Application.DTOs.Responses;

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-l">System administration</h1>

		<partial name="_ActionItem" model="@("Manage review bodies","View, add, disable or edit review body records.", "rbc:viewreviewbodies")" />
		<partial name="_ActionItem" model="@("Manage users","View, add, disable or edit review individual user records.", "admin:users")" />

	</div>
</div>