@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@inject IFeatureManager featureManager

@{
	var buttonText = ViewBag.Mode == "edit" ? "Save Changes" : "Create Profile";
	var heading = ViewBag.Mode == "edit" ? "Edit User" : "Add a new user profile record";
	var editUserUrl = ViewBag.Mode == "edit" ? "" : "/admin/users/editnewuser";
	ViewBag.Active = "manageUsers";
}

@if (await featureManager.IsEnabledAsync(Features.ProgressiveEnhancement))
{
	@section FooterResources {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/manageUsers.js"></script>
	}

	<a href="javascript:;" onclick="submitFormWithAction('submit-user-form', '@editUserUrl')" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">@heading</h2>
		<p>Check the information here is correct before creating the profile</p>
		<form method="post" id="submit-user-form">
			<partial name="_UserSummaryTablePartial" model="Model" />
			<partial name="_SubmitButton" model="@("admin:submituser", buttonText, new Dictionary<string, string>())" />
		</form>
	</div>
</div>
