@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@inject IFeatureManager featureManager

@{
	var buttonText = "Create profile";
	var heading = "Check and create user profile";
	ViewBag.Active = "manageUsers";
	ViewBag.Title = "Manage users";
}

<form method="post" id="submit-user-form">
	<button asp-route="admin:editnewuser" class="govuk-back-link-button" type="submit">Back</button>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h2 class="govuk-heading-l">@heading</h2>
			<p class="govuk-body">Check the information here is correct before creating the profile.</p>
			<partial name="_UserSummaryTablePartial" model="Model" />
			<partial name="_SubmitButton" model="@("admin:submituser", buttonText, new Dictionary<string, string>())" />
		</div>
	</div>
</form>