@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@{
	ViewBag.Active = "manageUsers";
	ViewBag.Title = "Manage users";
}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
				User has been successfully added
			</h1>
		</div>
		<p class="govuk-body">
			<span>@Model.FirstName @Model.LastName</span>
			has been sent an email confirming their account details. Their status is now active.
		</p>
		<p><a class="govuk-link" asp-route="admin:createuser">Add another user</a></p>
		<p><a class="govuk-link" asp-route="admin:users">Back to Manage Users</a></p>
	</div>
</div>
