@using Rsp.Portal.Web.Areas.Admin.Models
@model UserViewModel
@{
	ViewBag.Active = "manageUsers";
    ViewBag.Title = "User added - Manage Users - System Administration";
}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
				User has been added
			</h1>
		</div>
		<p class="govuk-body">
			@Model.GivenName @Model.FamilyName's account is active. They can now sign in using GOV.UK One Login from the home page of Plan and manage health and care research.
		</p>
		<p class="govuk-body">
			<a class="govuk-link" asp-route="admin:createuser">Add another user</a>
		</p>
		<p class="govuk-body">
			<a class="govuk-link" asp-route="admin:users">Back to Manage users</a>
		</p>
	</div>
</div>
