@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@{
	ViewBag.Active = "manageUsers";
	ViewBag.Title = "Manage users";
}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
				@Model.FirstName @Model.LastName successfully disabled
			</h1>
		</div>
		<p class="govuk-body">
			A confirmation email will be sent to @Model.FirstName @Model.LastName to confirm that their record has been disabled
		</p>
		<p class="govuk-body">
			<a class="govuk-link" asp-route="admin:users">Back to Manage users</a>
		</p>
	</div>
</div>
