@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@{
	ViewBag.Active = "manageUsers";
}

<a asp-route="admin:users" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-l">User profile: @Model.FirstName @Model.LastName</h1>
		<form method="post" id="submit-user-form">
			<partial name="_UserSummaryTablePartial" model="Model" />
		</form>
	</div>
</div>

@if (Model.Status != IrasUserStatus.Disabled)
{
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-m">Do you want to disable this user record?</h2>
			<div class="govuk-hint">
				Disabling a user record will prevent the  administrator from accessing their account.
				This can be reversed once requested.
			</div>
			<form method="get">
				<input name="userId" value="@Model.Id" hidden />
				<input name="email" value="@Model.Email" hidden />
				<button asp-route="admin:disableuser" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
					Disable user record
				</button>
			</form>
		</div>
	</div>
}

