@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.FeatureManagement
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            Sponsor details
        </h2>
        @if (Model.Status is ModificationStatus.InDraft)
        {
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" asp-route="pmc:sponsorreference" asp-route-projectRecordId="@Model.ProjectRecordId">Change</a>
                </li>
            </ul>
        }
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

            @foreach (var question in Model.SponsorDetails)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @question.ShortQuestionText
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @question.GetDisplayText(false)
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>