@using Rsp.IrasPortal.Domain.Entities
@model List<Document>?
@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@
@section BackNavigation {
    <partial name="_BackNavigation" model="@("app:projectname","Back", new Dictionary<string, string>())" />
}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Choose documents to upload</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="govuk-form-group">
                    <input class="govuk-file-upload" type="file" id="formFiles" name="formFiles" multiple />
                </div>

                @{
                    ViewBag.Style = "govuk-button govuk-button--secondary";
                }

                <partial name="_SubmitButton" model="@("app:upload","Upload documents(s)", new Dictionary<string, string>())" />
                <dl class="govuk-summary-list govuk-summary-list--long-key">
                    @if (Model != null)
                    {
                        @foreach (var file in Model)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @file.Name
                                </dt>
                                <dd class="govuk-summary-list__value" style="text-align:end">
                                    @file.Size Bytes
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">Remove</a>
                                </dd>
                            </div>
                        }
                    }
                </dl>
            </form>
            @{
                ViewBag.Style = "govuk-button govuk-button--secondary";
            }

            <a class="govuk-button" asp-route="app:reviewanswers">Continue</a>
        </div>
    </div>
</main>