@{
    ViewData["Title"] = "Application";
}

<div class="govuk-width-container app-width-container">
    <a href="#"
       class="govuk-back-link"
       onclick="displaySection(--sectionIdx)"
       id="back_link"
       style="display: none">
        Back
    </a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl" id="title_caption">Welcome to the</span>
                <h1 class="govuk-heading-xl" id="title">Integrated Research Application System</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    The integrated dataset required for your project will be created from the answers you
                    give to the following questions. The system will generate only those questions and
                    sections which (a) apply to your study type and (b) are required by the bodies reviewing
                    your study. Please ensure you answer all the questions before proceeding with your
                    applications.
                    <br />
                    <br />
                    Please complete the questions in order. If you change the response to a question, please
                    select 'Save' and review all the questions as your change may have affected subsequent
                    questions.
                    <br />
                    <br />
                    On-line guidance is available wherever you see a hyperlinked word or this symbol
                    displayed. Please read this guidance carefully.
                    <br />
                    <br />
                    For help with your application, click <a href="#">here</a>.
                </p>
                <a class="govuk-button" asp-controller="Application" asp-action="ProjectName">Proceed with application</a>
            </div>
            <div class="govuk-grid-column-one-third" style="border-top: 2px solid #5d235d; padding: 0%">
                <h3 class="govuk-heading-m" style="margin-top: 15px">Project Details</h3>
                <p class="govuk-body">
                    IRAS Project ID: <strong>337728</strong><br />
                    Project Title: <strong>Not named yet</strong> <br />
                    Section:<br />
                    Application to:<br />
                </p>
            </div>
        </div>
    </main>
</div>
