@using Rsp.IrasPortal.Application.DTOs.Responses;

@model IrasApplicationResponse

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" id="title">Project overview</h2>
    </div>
</div>

<a class="govuk-button" asp-route="app:welcome">Return home</a>