@using Rsp.IrasPortal.Application.Constants;
@using Rsp.IrasPortal.Application.DTOs.Responses;
@model ProjectOverviewModel

@if (TempData[TempDataKeys.ShowNotificationBanner] is not null)
{
    <partial name="_NotificationBanner" model="@("Success", "Modification progress successfully saved")" />
}
@{
    ViewBag.Title = "Project overview";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">@Model.ProjectTitle</span>
            Project overview
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text" style="border: 1px solid #b1b4b6; padding: 20px;">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                <a asp-route="cmsqnc:resume"
                   asp-route-projectRecordId="@Model.ProjectRecordId"
                   asp-route-CategoryId="@Model.CategoryId"
                   class="govuk-link">
                    Project details
                </a>
            </h2>
            <p class="govuk-body">View and edit key information about this project.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text" style="border: 1px solid #b1b4b6; padding: 20px;">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                <a asp-route="app:DocumentUpload"
                   class="govuk-link">
                    Project documents
                </a>
            </h2>
            <p class="govuk-body">View and upload documents for this project.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-inset-text" style="border: 1px solid #b1b4b6; padding: 20px;">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
				<a asp-route="cmspmc:createmodification"
                   class="govuk-link">
                    Modifications
                </a>
            </h2>
            <p class="govuk-body">View previous modifications and make a new modification.</p>
        </div>
    </div>
</div>