@model IEnumerable<string>
@{
    ViewData["Title"] = "Application";
}

<div class="govuk-width-container app-width-container">
    <a class="govuk-back-link"
       asp-action="ApplicationType">
        Back
    </a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="title">Select the project category</h1>
            </div>
        </div>
        <form asp-action="SaveProjectCategory">
            <div class="govuk-form-group">
                <select class="govuk-select" id="projectCategory" name="projectCategory">
                    <option value="default" selected disabled>Select...</option>
                    @foreach (var item in Model)
                    {
                        <!option value="@item" @(ViewBag.ProjectCategory == item ? "selected" : "")>@item</!option>
                    }
                </select>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </main>
</div>