@using Rsp.IrasPortal.Application.DTOs.Responses;

@model IrasApplicationResponse

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" id="title">Project overview</h2>
    </div>
</div>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Title</dt>
        <dd class="govuk-summary-list__value" id="review_title">@Model.Title</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Description</dt>
        <dd class="govuk-summary-list__value" id="review_location">@Model.Description.ToString()</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value" id="review_category">@Model.Status</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Created By</dt>
        <dd class="govuk-summary-list__value" id="review_category">@Model.CreatedBy</dd>
    </div>
</dl>

<a class="govuk-button" asp-route="app:welcome">Return home</a>