@model (string ProjectName, string Description)
@{
    ViewData["Title"] = "Application";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" id="title">Enter project details</h1>
    </div>
</div>
<form method="post">

    <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="projectName">
                Enter a project title
            </label>
        </h1>

        <input class="govuk-input govuk-input--width-30"
               id="projectName"
               name="projectName"
               type="text"
               value="@Model.ProjectName">
    </div>

    <div class="govuk-form-group">

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="projectDescription">
                Enter a project description
            </label>
        </h1>

        <input class="govuk-input govuk-input--width-30"
               id="projectDescription"
               name="projectDescription"
               type="text"
               value="@Model.Description">
    </div>

    <partial name="_SubmitButton" model="@("app:saveprojectname","Continue", new Dictionary<string, string>())" />
</form>