@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model IrasIdViewModel

@{
    ViewData["Title"] = "Project details - Make changes to research";

	var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData["PageContent"];
	var pageContent = pageContentData != null
		? pageContentData
		: new Dictionary<string, MixedContentPageItem?>();

	var headline = pageContent.GetValueOrDefault("Application.StartProject.Title", null);
	var irasIdLabel = pageContent.GetValueOrDefault("Application.StartProject.IrasIdLabel", null);
	var irasIdHint = pageContent.GetValueOrDefault("Application.StartProject.IrasIdHint", null);
	var errorSummaryTitle = pageContent.GetValueOrDefault("Application.StartProject.ErrorSummaryTitle", null);
}

@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@
@section BackNavigation {
    <partial name="_BackNavigation" model="@("app:createapplication", "Back", new Dictionary<string, string>())" />
}

<h1 class="govuk-heading-l">@Html.Raw(headline?.Value)</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">

            <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle?.Value)" />

            <div class="govuk-form-group" error-class-for="IrasId">

				<label class="govuk-label" asp-for="IrasId">@Html.Raw(irasIdLabel?.Value)</label>

                <div class="govuk-hint">
					@Html.Raw(irasIdHint?.Value)
                </div>
                <span class="govuk-error-message" asp-validation-for="IrasId"></span>

                <input class="govuk-input govuk-input--width-10"
                       error-class-for="IrasId"
                       asp-for="IrasId"
                       inputmode="numeric"
                       maxlength="7" />
            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit" asp-route="app:startproject">Add project</button>
        </form>
    </div>
</div>