
<h1>Modification Details Page</h1>


<form method="get">
    <div class="save-buttons">
        <partial name="_SubmitButton" model="@("pmc:sponsorreference", "Save and continue" , new Dictionary<string, string>())" />
    </div>
</form>